configuration {
    disable-history: false;
    display-drun: "DRUN";
    display-window: "WIND";
    font: "JetBrains Mono Regular 12";
    fullscreen: false;
    hide-scrollbar: true;
    icon-theme: "Papirus";
    modi: "drun,window";
    show-icons: true;
    sidebar-mode: false;
}
