configuration {
    disable-history: false;
    display-drun: "DRUN";
    display-run: "RUN";
    font: "Roboto Mono for Powerline 12";
    fullscreen: false;
    hide-scrollbar: true;
    icon-theme: "Papirus";
    modi: "drun,run";
    show-icons: true;
    sidebar-mode: false;
}
